@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #4971ae;
}

body {
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    margin-bottom: 50px;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    appearance: none;
}

.container {
    perspective: 500px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    width: 15px;
    height: 12px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row {
    display: flex;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: white;
}

.isle-seat-left {
    margin-right: 18px;
}

.isle-seat-right {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777777;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.screen {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.screen p {
    color: black;
    visibility: hidden;
}

.screen.loading p {
    visibility: visible;
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #6feaf6;
    font-weight: bold;
}

p.text span.currency-name {
    background-color: #6feaf6;
    color: #242333;
    padding: 2px;
    font-size: 12px;
    border-radius: 2px;
    margin-left: 0;
}

#copy {
    margin-top: 30px;
}
#copy p {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 12px;
}

#copy a {
    text-decoration: none;
    color: #555555;
}

#copy a:hover {
    color: #888888;
}

#error-box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: none;
}

#error-box.visible {
    display: flex;
}

#error-box .box {
    width: 300px;
    background-color: white;
    border-radius: 25px;
}

#error-box .box .title {
    width: 100%;
    height: 30px;
    background-color: var(--primary-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#error-box .box .body {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--primary-color);
}

#error-box .box .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}

#error-box .actions button {
    cursor: pointer;
    appearance: none;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    padding: 5px 15px;
}

#error-box .actions button:hover {
    background-color: #dddddd;
}
